*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}   
:root{
    --background-color-01: #1A0B2E;
    --section-header-color: #ffffff;
    --number-color: #00FF88;
    --background-color-02: #230E3D;
    --text-color-01: #afaab6;
}
h1, h2, h3, h4, h5, h6{
    color: var(--section-header-color);
}
p, li, a, span{
    color: var(--text-color-01);
}
a{
    text-decoration: none;
}   