*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}   
:root{
    --background-color-01: #1A0B2E;
    --section-header-color: #ffffff;
    --number-color: #00FF88;
    --background-color-02: #230E3D;
    --text-color-01: #afaab6;
}
h1, h2, h3, h4, h5, h6{
    color: var(--section-header-color);
}
p, li, a, span{
    color: var(--text-color-01);
}
a{
    text-decoration: none;
}   


/* Header Section css */
header{
    background-color: var(--background-color-01);
    padding: 20px 0;   
}
.header_navbar{
     width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.side_design{
    color: rgb(238, 255, 0);
}
.subscribe_button{
   background: linear-gradient(45deg,
    #d0db08,
    #0cd17ced,
    #1986d4,
    #003cff
  );
  padding: 8px 10px ;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}
.subscribe_button:hover{
    background: linear-gradient(45deg,
    #003cff,
    #d0db08,
    #0cd17ced,
    #1986d4
  );
    transition: all 1s ease;
}