* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

:root {
    --background-color-01: #1A0B2E;
    --section-header-color: #ffffff;
    --number-color: #00FF88;
    --background-color-02: #230E3D;
    --text-color-01: #afaab6;
    --card-background-color-01: #250d44;
    --card-background-color-02: #2a0f4d;
    --badge-color:#00ff88;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--section-header-color);
    text-transform: capitalize;
}

p,
li,
a,
span {
    color: var(--text-color-01);
}
a {
    text-decoration: none;
}


/* Header Section css */
header {
    background-color: var(--background-color-01);
    padding: 20px 0;
}

.header_navbar {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.side_design {
    color: rgb(238, 255, 0);
}

/* Button styles  */
.mail_button{
    border: 1px solid red;
    padding: 8px 16px;
    border-radius: 20px;
    color:var(--text-color-01);
    font-weight: 600;
}
.spotify_button{
     background: linear-gradient(45deg,
            #d0db08,
            #0cd17ced,
            #1986d4,
            #003cff);
    padding: 8px 16px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    width: 200px;
}
.subscribe_button {
    background: linear-gradient(45deg,
            #d0db08,
            #0cd17ced,
            #1986d4,
            #003cff);
    padding: 8px 16px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    width: 200px;
}

.subscribe_button:hover {
    background: linear-gradient(45deg,
            #003cff,
            #d0db08,
            #0cd17ced,
            #1986d4);
    transition: all 1s ease;
}


/* All sections have some common style */
.banner_section {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}    
.banner_content{
    padding: 100px  0;   
}       
.banner_image img {
    width: 100%;
} 
.badge{
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: var(--badge-color);
    color: black;
    padding: 2px 12px;
    border-radius: 15px;
}  
.microphone_image{
    height: 200px;
    position: absolute;
    top: 96px;
    left: 121px;
    max-width: 150px;
    
}
.microphone_image img{
    width: 100%;
}

/* Podcast Section css Start */
.about_podcast_section{
    background-color: var(--background-color-01);
    padding: 50px 200px;
}

.choose_section {
    background-color: var(--background-color-02);
    padding: 100px 200px;

}

.choose_card {
    background-color: var(--card-background-color-02);
    padding: 30px;
    justify-content: center;
    border-radius: 20px;
}

.feature_section {
    background-color: var(--background-color-01);
    padding: 100px 200px;
}

.section_header {
    padding-bottom: 40px;
}

.section_card {
    padding-bottom: 120px;
}

.card,
.host_article {
    background-color: var(--card-background-color-01);
    border-radius: 10px;
}

.card:hover,
.host_article:hover {
    box-shadow: 0 10px 10px rgba(79, 77, 133, 0.484);
    transition: 0.5s ease-in;
}

.host_article {
    padding: 48px 40px
}

.host_image {
    width: 200px;
    height: 200px;
}
.line-break{
    margin : 60px 0;
}

.host_content {
    width: 880px;
}

.host_content h3,
p {
    padding-bottom: 16px;

}

.host_content .social_link_image {
    border: 1px solid rgb(163, 47, 47);
    width: 40px;
    padding: 8px;
    border-radius: 50%;
}

.social_link_image img {
    width: 100%;
}

.host_image img {
    width: 100%;
}

.card_video iframe {
    width: 100%;

}

.card_content {
    padding: 24px;

}
.card_content,.card_image ,.card-content, h4,
p {
    padding-bottom: 12px;
}

.number_of_time {
    color: var(--number-color);
    font-weight: 700;
}

.section_number{
    color:var(--number-color)
}


/* Footer Section  */

.footer {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px;
}
.footer_social_link {
    padding: 32px 0;
}

/* Mobile Responsive CSS  */

@media only screen and (max-width: 500px) {
    /* Navigation Menu */
   
    .navigation_menu{
        display: none;
    }
    .subscribe_button{
        display: none;
    }
    /* Banner Section */
     .banner_section {
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
    }   
    .banner_content,.choose_section,.feature_section,.footer{
        padding: 40px 20px;   
    }      
    .banner_image{
        width:200px;
        margin: 0 auto;

    } 
    .banner_image img {
        width: 100%;
    } 
    .banner_header,.section_header,.content_paragraph{
        width: 350px;
        margin: 0 auto;

    }
    .badge{
            top: 12px;
            right: 3px;
            padding: 0px 11px;
            font-size: 12px;
    }  
    .microphone_image{
        height: 100px;
            top: 54px;
            left: 63px;
            max-width: 80px;
        
    }
    .microphone_image img{
        width: 100%;
    }

    /* Podcast Section  */
    .about_podcast_section{
        background-color: var(--background-color-01);
        padding: 50px 200px;
    }
    .counting_people{
        flex-wrap: wrap;
        gap: 20px; 
    width: 400px;
    }
    .line-break{
        width: 400px;
    }
    .section_number{
        text-align: center;
    }

    /* Choose Section */

    .all_choose_card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .choose_card{
        width: 400px;
        margin: 0 auto;
        
    }

    /* Feature Section */
    .section_card{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        width:400px;
        margin: 0 auto;
    }
    .host_article{
        flex-direction: column;
        gap: 20px;
        width: 400px;
        text-align: center;
    }
    .host_content{
        width:350px;
        margin: 0 auto;
    }
    .host_social_link{
        justify-content: center;
    }


    /* Footer Section */

    .footer {
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    .footer_social_link {
        flex-wrap:wrap;
        width: 300px;
        gap: 20px;
        padding:20px;
        justify-content: space-around;
    }


}