*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}   
:root{
    --background-color-01: #1A0B2E;
    --section-header-color: #ffffff;
    --number-color: #00FF88;
    --background-color-02: #230E3D;
    --text-color-01: #afaab6;
}
h1, h2, h3, h4, h5, h6{
    color: var(--section-header-color);
    text-transform: capitalize;
}
p, li, a, span{
    color: var(--text-color-01);
}
a{
    text-decoration: none;
}   


/* Header Section css */
header{
    background-color: var(--background-color-01);
    padding: 20px 0;   
}
.header_navbar{
     width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.side_design{
    color: rgb(238, 255, 0);
}
.subscribe_button{
   background: linear-gradient(45deg,
    #d0db08,
    #0cd17ced,
    #1986d4,
    #003cff
  );
  padding: 8px 10px ;
  border-radius: 20px;
  color: white;
  font-weight: 600;
}
.subscribe_button:hover{
    background: linear-gradient(45deg,
    #003cff,
    #d0db08,
    #0cd17ced,
    #1986d4
  );
    transition: all 1s ease;
}


/* All sections have some common style */

.feature_section{
   background-color: var(--background-color-01);
   padding: 100px 200px;
}
.section_header{
    padding-bottom: 40px;
}
.section_card{
    padding-bottom: 120px;
}
.card, .host_article{
    background-color: var(--background-color-02);
    border-radius: 10px;
}
.card:hover,.host_article:hover{
    box-shadow: 0 10px 10px rgba(79, 77, 133, 0.484);
    transition: 0.5s ease-in;
}
.host_article{
    padding: 48px 40px
}
.host_image{
    width: 200px;
    height: 200px;
}
.host_content{
    width: 880px;
}
.host_content,h3,p{
    padding-bottom: 16px;

}
.host_content .social_link_image{
    border: 1px solid rgb(163, 47, 47);
    width: 40px;
    padding: 8px;
    border-radius: 50%;
}
.social_link_image img{
    width: 100%;
}
.host_image img{
    width: 100%;
}
.card_video iframe{
    width: 100%;
   
}
.card_content{
    padding: 24px;
    
}
.card_content h4,p{
    padding-bottom: 12px;
}
.number_of_time{
    color:var(--number-color);
    font-weight: 700;
}















/* Footer Section  */
.footer{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px;
}
.footer_social_link{
    padding: 32px 0;
}